<mat-card class="example-card" appearance="outlined">
  <ng-container>
    <mat-card-header>
      <mat-card-title><strong>{{insurerDetails.name}}</strong> </mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
      <div><strong>Insurer's' ID: </strong>{{insurerDetails.id}}</div>
      <div><strong>Insurer's' Name: </strong>{{insurerDetails.name}}</div>
      <div><strong>Insurer's Email': </strong>{{insurerDetails.email}}</div>
      <div><strong>Insurer's 'Contact No.: </strong>{{insurerDetails.phone}}</div>
    </mat-card-content>
  </ng-container>
</mat-card>
