<mat-card class="example-card" appearance="outlined">
  <ng-container>
    <mat-card-header>
      <mat-card-title><strong>{{patientDetails.name}}</strong> </mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
      <div><strong>Patient ID: </strong>{{patientDetails.id}}</div>
      <div><strong>Contact No.: </strong>{{patientDetails.contactNo}}</div>
      <div><strong>Type: </strong>{{patientDetails.type}}</div>
      <div><strong>Age: </strong>{{patientDetails.age}}</div>
      <div><strong>Insured By: </strong>{{patientDetails.insuredBy}}</div>
      <div><strong>Visit Type: </strong>{{patientDetails.visitType}}</div>
      <div><strong>Description: </strong>{{patientDetails.description}}</div>
    </mat-card-content>
  </ng-container>
</mat-card>
